* {
	log {
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 2 
		}
        format console
	}
}

{% for item in containers -%}

{% if item.proxy is true %}
{{ item.subdomain }}.{{ sh_domain }}::443 {
	reverse_proxy {{ item.name }}:{{ item.port }}
}
{% endif %}
{% endfor %}


